/**
*
* Publication : Homepage
*
**/

/*==========================
=            Général            =
==========================*/

.home-section {
	padding: 4rem 0;
}

.main-home {
	margin-bottom: 0;

	.main-inner {
		padding-top: 0;
	}

	h1 {
		color: $white;
		font-weight: 700;
		@extend .font-smoothing;
		margin-bottom: 1rem;
	}

	@include media-breakpoint-up(md) {
		h1 {
			margin-bottom: 2rem;
		}
	}
}

.home-bg {
	position: relative;
	overflow: hidden;

	&:before, &:after {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/bg-kaleidoscope-v.svg');
		background-position: -5% 5rem;
		background-repeat: no-repeat;
		background-size: 80% auto;
		opacity: 0.03;
	}

	&:after {
		top: 30%;
		z-index: -1;
		transform: rotate(180deg);
	}

	@include media-breakpoint-up(lg) {
		&:before, &:after {
			background-size: 45% auto;
		}
		&:after {
			top: 35%;
		}
	}
}

/*=====  FIN Général  =====*/


/*==========================
=            Intro            =
==========================*/

.home-intro {
	padding-top: 7rem; // Hauteur du header
	padding-bottom: 4rem;
	min-height: 100vh;

	p {
		margin-top: 2rem;
		margin-bottom: 0;
		font-size: 1.2rem;
		@extend .font-smoothing;
	}

	@include media-breakpoint-up(md) {
		padding-top: 10rem;
		padding-bottom: 4rem;
		p {
			margin-top: 3rem;
			font-size: 1.4rem;
		}
	}

	@include media-breakpoint-up(lg) {
		.container {
			max-width: 720px;
		}
	}

	@include media-breakpoint-up(xl) {
		.container {
			max-width: 720px;
		}
	}

}

.home-intro-desc {
	color: $white;
}

.btn-play {
	font-size: 1.6rem;
	font-weight: 400;
	border: 2px solid $white;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba($black,0.15);

	&:hover, &:focus {
		border: 2px solid $white;
		background-color: $white;
		color: $color2;
		outline: 0;
	}
}

.btn-download {
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba($black,0.15);
	line-height: 1.2;
	@extend .font-smoothing;

	.small {
		font-weight: 700;
		font-size: 0.9rem;
	}

	&:hover, &:focus {
		color: $color1;
		outline: 0;
	}
}

/*=====  FIN Intro  =====*/

.home-content {
	overflow: hidden;

	@include media-breakpoint-up(md) {
		padding-top: 8rem
	}
}

.home-desc {
	margin-bottom: 3.5rem;
}

/*==========================
=            Bloc infos            =
==========================*/

.home-infos {
	.col-md-6 {
		display: flex;
		align-items: stretch;
	}
}

.home-infos-item {
	padding: 20px 15px 10px;
	border-radius: 15px;
	background-color: darken($color1,10%);
	box-shadow: 0 0 10px rgba($black,0.15);
	margin-bottom: 30px;

	* {
		color: $white;
	}

	h2 {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	@include media-breakpoint-up(md) {
		margin-bottom: 0;
		margin-top: 0;
	}

	@include media-breakpoint-up(lg) {
		padding: 30px 30px 20px;

		h2 {
			margin-bottom: 1.5rem;
			font-size: 22px;
		}
	}
}

// .home-infos_blue {
// 	background-color: $green;
// }

// .home-infos_blue {
// 	background-color: $cyan;
// }


/*=====  FIN Bloc infos  =====*/

/*==========================
=            List thématique            =
==========================*/

.home-theme {
	padding: 0;

	h2 {
		font-weight: 700;
		@extend .font-smoothing;
	}

	.col-md-6 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	@include media-breakpoint-up(md) {
		.col-md-6 {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
}

.home-theme-list-container {
	position: relative;

	&:before {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/bg-carte.svg');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: auto;
		opacity: 0.5;
	}
}

.home-theme-list {
	margin-bottom: 0;
	justify-content: center;
	li {
		margin-top: 30px;
		&:first-child, &:nth-child(2) {
			margin-top: 0;
		}
	}

	.btn-play {
		padding: 0.5rem 3rem;

		&:hover, &:focus {
			background-color: $color1;
			color: $white;
		}
	}
}

.home-theme-item {
	border: 1px solid $color1;
	background-color: $citoyenne;
	color: $white;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 3px 3px 10px rgba($black,0.15);
	margin-bottom:0;
	padding: 5px 10px;
	border-radius: 25px;

	@include media-breakpoint-up(md) {
		font-size: 17px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 22px;
	}
}

/*----------  Thématiques  ----------*/

.cat-travail { background-color: $travail; }
.cat-sante { background-color: $sante; }
.cat-couple { background-color: $couple; }
.cat-parents { background-color: $parents; }
.cat-quotidien { background-color: $quotidien; }

/*----------  variantes couleur texte  ----------*/

.home-theme-item_dark {
	color: $color1;
}

/*=====  FIN List thématique  =====*/

/*==========================
=            Logo et footer            =
==========================*/

.home-logo-title {
	font-size: 18px;
	font-weight: 700;
	color: $black;
	margin-bottom: 1.5rem;
}

.home-partner-logo {
	
	img {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		width: auto;
		height: 70px;
	}

	@include media-breakpoint-up(md) {
		text-align: right;
	}

	@include media-breakpoint-up(lg) {
		img {
			height: 100px;
		}
	}
}

.home-cidff45 {
	img {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		width: auto;
		height: 70px;
	}
	@include media-breakpoint-up(lg) {
		img {
			height: 100px;
		}
	}
}

/*=====  FIN Logo et footer  =====*/