/**
*
* Publication : Articles
* Style des différents affichage de news
* Resume, resume specifique, single, ...
*
**/

/*=============================
=            Liste            =
=============================*/



/*=====  End of Liste  ======*/


/*==============================
=            Resume            =
==============================*/

// CSS additionnel au style .card de Bootstrap

.resume {
	max-width: 340px; // Thumbnail size define in Wordpress. I speak english very well, yeah!
}

/*=====  End of Resume  ======*/



/*==============================
=            Single            =
==============================*/

.post-thumbnail {
	height: 25rem;
	overflow: hidden;
	margin-bottom: 3rem;

	img {
	height: 25rem;
	object-fit: cover;		
	}
}

/*=====  End of Single  ======*/

