/**
*
* Publication : Page
* 
*
**/

/*==========================
=            Liste download            =
==========================*/
/* Chargement du template plugin quizz via shortcode */

.dc-list {
	@extend .list-unstyled;
	margin-top: 30px;
}

.dc-list-link {
	background-color: $color1;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	padding: 10px 15px 10px 90px;
	border-radius: 15px;
	min-height: 70px;
	margin-bottom: 30px;
	box-shadow: 0 0 6px rgba($black, 0.3);
    margin-left: 15px;
    margin-right: 15px;

	&:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		width: 60px;
		height: calc( 100% - 10px );
		background-color: rgba(#fff, 0.5);
		background-image: url('images/icons/download.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		border-radius: 12px;
	}

	&:hover, &:focus {
		background-color: $color2;
		text-decoration: none;
		color: #fff;

		&:before {
			background-color: rgba(#fff, 0.7);
		}
	}
}

.dc-list-title {
	margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
}

.dc-list-infos {
	margin-bottom: 0;
}

.dc-list-modified {
	font-size: 14px;
	font-style: italic;
}


/*=====  FIN Liste download  =====*/