/**
*
* Publication : Products
* Style des différents affichage de produits
* Resume, resume specifique, single, ...
*
**/

/*==========================
=            Eléments globaux            =
==========================*/

/*----------  Promo  ----------*/
.onsale {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    min-height: 3.75rem;
    min-width: 3.75rem;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    background-color: $success;
    color: #fff;
    font-size: 80%;
}



/*=====  FIN Eléments globaux  =====*/

/*=============================
=            Liste            =
=============================*/

.archive .products, // Liste de produits, archive normal
.related .products // Liste de produits associés dans le single product
{
    padding: 0;
    list-style: none;
    margin-bottom: 3rem;
    @extend .row;
}

/*=====  End of Liste  ======*/


/*==============================
=            Resume            =
==============================*/

.resume-product {
    a, a:hover, a:focus {
        text-decoration: none;
    }

    .price {
        display: block;
        margin-left: auto;
        margin-bottom: 0.938rem;
        color: $color1;
    }
}

/*----------  Resume left  ----------*/
// Resume avec affichage de l'image à gauche du contenu

.resume-left {
    max-width: 100%;

    .resume-img {
        width: 6.25rem;
        margin-left: 1.25rem;
    }
}

/*----------  Resume atc  ----------*/
// Resume avec le Add to cart


/*=====  End of Resume  ======*/



/*==============================
=            Single            =
==============================*/

/*----------  Title  ----------*/

.product-title {
    text-align: center;
    margin-bottom: 3rem;
}

/*----------  Images  ----------*/

.woocommerce-product-gallery {
    @extend .col-md-6;
    @extend .col-lg-8;
}

.product .summary {
    @extend .col-md-6;
    @extend .col-lg-4;
}

/*----------  Réf  ----------*/


/*----------  Description  ----------*/


/*----------  Prix et Add to cart  ----------*/

.product-atc {
    padding: 0.938rem;
    background-color: $color1;
    &, & * {
        color: $white;
    }

    // Prix
    .price {
        font-weight: 700;
        font-size: 1.625rem;
        text-align: right;
    }

    // Add to cart
    .quantity {
        margin-bottom: 1rem;
    }

    input, select {
        border: 0;
    }

    button[name="add-to-cart"] {
        @extend .btn-lg;
        @extend .btn-outline-light;
        @extend .btn-block;
        background-color: transparent;
    }
}

/*----------  Contact bloc  ----------*/

.product-contact {
    padding: 0.938rem;
    background-color: $color3;
    text-align: center;
}


/*=====  End of Single  ======*/


/*==========================
=            OLD Woocommerce            =
==========================*/

/*----------  Bloc images  ----------*/

.woocommerce-product-gallery__wrapper {
    transition: all cubic-bezier(.795,-.035,0,1) .5s;
    margin: 0;
    padding: 0;
}

.woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #fff;
    opacity: 0;
}

.woocommerce-product-gallery__image--placeholder {
    border: 1px solid #f2f2f2;
}

.woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
}

.woocommerce-product-gallery__trigger {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
}

.woocommerce-product-gallery__trigger:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box
}

.woocommerce-product-gallery__trigger:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box
}


/*=====  FIN OLD Woocommerce  =====*/
