/**
*
* Publication : Search page
*
**/

/*===================================
=            Search form            =
===================================*/
/* Pour la recherche dans l'accueil voir les modules */

.search-form-container { // Container du formulaire de recherche dans la page de recherche
	margin-bottom: 3rem;
}

.search-form {
    width: 100%;
    background-color: $color1;
    overflow: hidden;
    transition: all 500ms linear;
}

.search-inner {
	display: flex;
	align-items: stretch;
	padding: 0.625rem;
	height: 6rem;

	@include media-breakpoint-up(lg) {
		max-width: 1170px;
	    margin-left: auto;
	    margin-right: auto;
	}
    
}

.search-input {
	border: none;
    flex-grow: 1;
    padding: 0.625rem;
    margin-right: 0.625rem;
}

.search-button {
	padding: 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	height: 2.5rem;
    width: 2.5rem;
    padding: 0;
	background-color: $gray-800;
    box-shadow: none;

    svg {
		width: 1.250rem;
		height: 1.250rem;
    }

    &:hover, &:focus {
    	background-color: $black;
    }
}

/*=====  End of Search form  ======*/

/*=====================================
=            Header search            =
=====================================*/

.is-search-open {
	@include media-breakpoint-up(lg) {
		
	}
}

.header-search {
	.search-form {
		@include media-breakpoint-up(lg) {
			display: flex;
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-color: $color1;
			align-items: center;
			justify-content: center;
			transform: scale(0.7);
			transition: all 300ms ease-out;
			
			.is-search-open & {
				visibility: visible;
				opacity: 1;
				transform: scale(1);
			}
			
		}
	}

	.search-input {
		background-color: transparent;
		border-bottom: 1px solid $white;
		width: 700px;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: rgba($white,0.7);
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: rgba($white,0.7);
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: rgba($white,0.7);
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: rgba($white,0.7);
		}
	}

	.search-button {
	    &:hover, &:focus {
	    	background-color: $white;
			path {
				fill: $gray-800;
			}
	    }
	}
}

.header-search-toggle {
	display: none;

    @include media-breakpoint-up(lg) {
		display: block;
		position: relative;
		padding: 0;
		background-color: transparent;
		outline: 0;
		border: 0;
		cursor: pointer;
		height: 3.125rem;
		width: 3.125rem;
		padding: 0.625rem;
		background-color: $color1;
		box-shadow: none;
		margin-left: 0.625rem;
		
		&:before, &:after {
			opacity: 0;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1.875rem;
			height: 0.313rem;
			background-color: $white;
			transition: all 150ms ease-out;
		}

		&:before {
			transform: translate(-50%,-50%) rotate3d(0,0,1,45deg);
		}
		&:after {
			transform: translate(-50%,-50%) rotate3d(0,0,1,-45deg);
		}

		svg {
			width: 1.250rem;
    		height: 1.250rem;
			transition: all 150ms ease-out;
		}

		&:hover, &:focus {
			background-color: $color1;
			&:before, &:after {
				background-color: $white;
			}
		}

		.is-search-open & {
			position: absolute;
			top: 1.875rem;
			right: 1.875rem;
			z-index: 2;

			svg {
				opacity: 0;
			}
			&:before, &:after {
				opacity: 1;
			}
		}

	}
}

/*=====  End of Header search  ======*/


/*============================
=            Page            =
============================*/

/*----------  Alertes  ----------*/
.search-query {
	margin-bottom: 3rem;
}

/*----------  Resume  ----------*/
.search-resume {
    margin-bottom: 3rem;

    a {
    	text-decoration: none;
    }
}

.search-resume-title {
    font-size: 1.250rem;
    margin: 0 0 0,438rem;

    a {
    	color: $color1;

    	&:hover {
    		color: darken($color1, 10%)
    	}
    }
}

.search-resume-article {
	@include media-breakpoint-up(lg) {
		display: flex;
	    align-items: center;
	}
}

.search-resume-img {
    display: none;
    @include media-breakpoint-up(lg) {
		display: block;
		width: 13rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 13rem;
		flex: 0 0 13rem;
		margin-right: 0.625rem;
	}
}

.search-resume-uri {
	margin-bottom: 0;

	a {
		color: $color2;
		&:hover {
			color: $color2;
			text-decoration: underline;
		}
	}
}

.search-resume-type {
	position: relative;
    top: 0.063rem;
    font-size: 0,563rem;
    font-weight: 300;
    margin-right: 0.0.313rem;
    padding: 0 0.625rem;
    color: $color2;
    border: 0.063rem solid $color2;
}

.search-resume-excerpt {
	margin-bottom: 0;
}

/*=====  End of Page  ======*/


