/**
*
* Publication : plan de site
*
**/

.sitemap {

	.wp-wysiwyg + &, & + & {
		margin-top: 0.625rem;
	}
}
.sitemap-primary {}
.sitemap-secondary {}
.sitemap-footer {}

.sitemap-nav-list-l1 {}
.sitemap-nav-list-l2 {
	margin-left: 3rem;
	border-left:0.063rem solid #000;
}

.sitemap-nav-item {

	&.is-parent {
		margin-bottom: 0.625rem;
	}
}

.sitemap-nav-link, .sitemap-nav-link:visited {
	text-transform: uppercase;
	text-decoration: none;
	display:inline-block;
	padding-top: 0.313rem;
	padding-right: 0.625rem;
	padding-bottom: 0.250rem;
	padding-left: 0.625rem;
	margin-top: 0.313rem;
	transition:all 0.3s ease;

	.sitemap-nav-item-l1 > & {
		background-color: $color1;
		color:#fff;
	}
	.sitemap-nav-item-l2 > & {
		color:#000;
	}
	.sitemap-secondary & {
		background-color: $color2;
		color:#fff;
	}
	.sitemap-footer & {
		background-color: $color3;
		color:#000;
	}

	&:not(.sitemap-span):hover, &:not(.sitemap-span):focus {
		background-color: $color1;
		color:#fff;
		transition:all 0.3s ease;
	}
}
.sitemap-nav-link-inner {
	font-size: 1.250rem;
}