/*
*
* Eléments réutilisables :
* boutons, icônes, popin (lightbox, notification…), slider (styles communs)…
*
**/

/*=======================================
=            Helpers & Reset            =
=======================================*/

.bg-purple, .page-template-page_technical_quiz {
	position: relative;
	min-height: 100vh;
	background-color: $color1;
	background: -moz-linear-gradient(left,  #703663 0%, #973381 49%, #b5317d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #703663 0%,#973381 49%,#b5317d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #703663 0%,#973381 49%,#b5317d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	&:before {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/bg-kaleidoscope.svg');
		background-position: 50% 115%;
		background-repeat: no-repeat;
		background-size: auto 85%;
		opacity: 0.08;
	}

	&:after {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/bg-carte.svg');
		background-position: 90% 90%;
		background-repeat: no-repeat;
		background-size: auto;
		opacity: 0.08;
	}
	
	& > * {
		position: relative;
		z-index: 1;
	}

	@include media-breakpoint-up(lg) {
		&:before {
			background-size: auto 95%;
		}
	}

}

/*----------  Container  ----------*/

/* Dans le cas d'un container fluid, fixer la largeur au dessus du breakpoint */
.container-xl {
	max-width: 1140px;
}

.container-full {
	@include media-breakpoint-up(lg) {
		max-width: 720px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 720px;
	}
}

/*----------  Wysiwyg  ----------*/
.wp-wysiwyg {
	overflow: hidden;
}

/*----------  SVG  ----------*/
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/*----------  Font  ----------*/

.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*----------  Texte  ----------*/

p.lead {
	font-family: $font-family-sans-serif;
	font-size: 120%;
	font-weight: $font-weight-normal;
	color: lighten($body-color,10%);
}

.text-uppercase {
	text-transform: uppercase;
}

.double-column, .wysiwyg-column{
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;

	@include media-breakpoint-up(lg) {
		column-count: 2;
		column-gap: 3rem;
	}
}

.triple-column, .wysiwyg-column-3{
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;

	@include media-breakpoint-up(lg) {
		column-count: 3;
		column-gap: 3rem;
	}
}

.smaller {
	font-size: 60%;
}

.small {
	font-size: 80%
}

.big {
	font-size: 120%;
}

.bigger {
	font-size: 140%;
}

/*----------  Separator  ----------*/

hr{
	border-top: 0.063rem solid $body-color;
	clear: both;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.wysiwyg-separator {
	margin: 0;
	border: 0;
	background-color: transparent;
}

.separator-small {
	height: 0.625rem;
}
.separator-medium {
	height: 1.25rem;
}
.separator-large {
	height: 3rem;
}
@include media-breakpoint-up(sm) {
	.separator-small {
		height: 1.25rem;
	}
	.separator-medium {
		height: 4rem;
	}
	.separator-large {
		height: 6rem;
	}
}

/*----------  Gestion des images toutes responsives  ----------*/
img {
	max-width: 100%;
	height: auto;
}
img {
	max-width: 100%;
	height: auto;
}

/* Gestion des images dans les wyziwyg */
/* Beaucoup trop de !important, bah ouai, mais bon encore et tjrs le style inline */
.alignleft {
	text-align: center;
	float: none;
	margin-bottom: 0.625rem;

	.gallery-single_left & {
		margin-bottom: 0;
	}

	@include media-breakpoint-up(sm) {
		text-align: left;
		max-width: 70%;
		margin-right: 3rem;
		margin-bottom: 3rem;
		float: left;

		.gallery-single_left & {
			max-width: none;
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}

.alignright {
	text-align: center;
	float: none;
	margin-bottom: 0.625rem;

	.gallery-single_right & {
		margin-bottom: 0;
	}

	@include media-breakpoint-up(sm) {
		text-align: right;
		max-width: 70%;
		margin-left: 3rem;
		margin-bottom: 3rem;
		float: right;

		.gallery-single_right & {
			max-width: none;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Caption */
.wp-caption {
    text-align: center;
    // border: 0.063rem solid $gray-600;
    background-color: $gray-200;
    padding: 0.625rem 0.625rem 0;
    margin-bottom: $paragraph-margin-bottom;
}
.wp-caption-text {
	padding-top: $paragraph-margin-bottom /2;
	padding-bottom: $paragraph-margin-bottom /2;
	font-size: 0,9rem;
	font-style: italic;
	margin-bottom: 0;
	text-align: center;
}

/* Gestion des galeries */
.gallery {
	background-color: $gray-200;
    // background-color: $color1;
    max-width: 77rem;
    padding: 1.25rem 0.625rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto $paragraph-margin-bottom*2;

    img {
    	transition: all 200ms linear;
    }
}

/* Gallery : slider */
.wysiwyg-carousel {
	margin: 0 auto $paragraph-margin-bottom*2;
}

.gallery-item {
    margin-top: 0;
    text-align: center;
    max-width: 13,75rem;
    margin: 0 0.313rem 3rem;
    background-color: $white;
	color: $body-color;
	background: $black;
	text-decoration: none;
	transition: all 200ms linear;
    box-shadow: rgba($black, 0.1) 0 0.063rem 0,375rem, 
				rgba($black, 0.1) 0 0.063rem 0.250rem;
	
	&:hover, &:focus {
		color: $body-color;
	}

	figure {
		margin: 0;
	}

    span {
		position: relative;
		display: block;
		
		&:after {
			content: "";
			position: absolute;
			bottom: 0,375rem;
			right: .5rem;
			width: 2.5rem;
			height: 2.5rem;
			background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iZXhwYW5kIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSIzNy4xMyIgdmlld0JveD0iMCAwIDQwIDM3LjEzIj4KICA8cG9seWdvbiBwb2ludHM9IjMyLjA2IDMxLjQ3IDUuNjUgMzEuNDcgNS42NSA3Ljk3IDE4Ljg2IDcuOTcgMTguODYgMi4zMiAwIDIuMzIgMCAzNy4xMyAzNy43MSAzNy4xMyAzNy43MSAxOS43MiAzMi4wNiAxOS43MiAzMi4wNiAzMS40NyIgZmlsbD0iI2ZmZiIvPgogIDxwb2x5Z29uIHBvaW50cz0iMjMuNTggMCAyOS43NCA1Ljc1IDE0LjMgMjEuMiAxOC4zIDI1LjIgMzMuODggOS42MiA0MCAxNS4zMyA0MCAwIDIzLjU4IDAiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
    }

    &:hover, &:focus {
    	transform: scale(1.1);

    	img {
    		opacity: 0.65;
    	}
    }
}
.gallery-caption {
	text-align: center;
    font-size: 0,9rem;
	font-style: italic;
    padding-top: $paragraph-margin-bottom /2;
	padding-bottom: $paragraph-margin-bottom /2;
	background-color: $white;
}

/* LightGallery single */
.gallery-single a {
	position: relative;
	display: inline-block;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iZXhwYW5kIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSIzNy4xMyIgdmlld0JveD0iMCAwIDQwIDM3LjEzIj4KICA8cG9seWdvbiBwb2ludHM9IjMyLjA2IDMxLjQ3IDUuNjUgMzEuNDcgNS42NSA3Ljk3IDE4Ljg2IDcuOTcgMTguODYgMi4zMiAwIDIuMzIgMCAzNy4xMyAzNy43MSAzNy4xMyAzNy43MSAxOS43MiAzMi4wNiAxOS43MiAzMi4wNiAzMS40NyIgZmlsbD0iI2ZmZiIvPgogIDxwb2x5Z29uIHBvaW50cz0iMjMuNTggMCAyOS43NCA1Ljc1IDE0LjMgMjEuMiAxOC4zIDI1LjIgMzMuODggOS42MiA0MCAxNS4zMyA0MCAwIDIzLjU4IDAiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==');
		background-repeat: no-repeat;
		background-position: 98% 96%;
		background-color: transparent;
		background-size: 2.188rem;
		transition: all 200ms ease-out;
	}

	&:hover, &:focus {
		&:after {
			background-color: rgba($black, 0.35);
			background-size: 2.813rem;
		}
	}
}

.gallery-single_left a {
	margin-bottom: 0.625rem;
	float: none;

	@include media-breakpoint-up(sm) {
		float: left;
		margin-right: 3rem;
		margin-bottom: 3rem;
		max-width: 70%;
	}
}

.gallery-single_right a {
	margin-bottom: 0.625rem;
	float: none;

	@include media-breakpoint-up(sm) {
		float: right;
		margin-left: 3rem;
		margin-bottom: 3rem;
		max-width: 70%;
	}
}

.gallery-single_center {
    text-align: center;
    display: block;
}

/*----------  Gestion des iframes  ----------*/
iframe{
	max-width: 100%;
	margin: 0 0 0.625rem;
}
.embed-responsive {
	margin-bottom: 0.625rem;
}

/*----------  Jumbotron Bootstrap  ----------*/
// Dans le cas d'image ou élément en float dedans
.jumbotron {
	overflow: hidden;
}

/*----------  Alert Bootstrap  ----------*/

.alert > *:last-child {
	margin-bottom: 0;
}

/*----------  type (text elements) preformaté  ----------*/

blockquote {
    position: relative;
    margin: 1.875rem auto;
    padding: 0 0 0 3.5rem;
	background-color: transparent;
	border: 0;
	font-style: italic;
	max-width: 70rem;
	
	&:before, &:after {
		content: "";
		position: absolute;
		background-image: url(images/icons/blockquote.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 30px;
	}

	&:before{
		top: 0;
		left: 0;
	}
	&:after{
		display: none;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-up(lg) {
		font-size: 1.2rem;
		padding: 0 0 0 5rem;

		&:before, &:after {
			width: 60px;
			height: 45px;
		}
	}
}

/*=====  End of Helpers & Reset  ======*/


/*===================================
=            Alert Oldie            =
===================================*/

.oldie {
	.alert-ie {
		border-top: 0.625rem solid #e44204;
		& > div {
			padding: 1.25rem 7rem;
			background: url(/images/alert-ie.png) left center no-repeat;
		}
		strong { color:#e44204; }
	}
} 

/*=====  End of Alert Oldie  ======*/


/*==================================
=            Skip links            =
==================================*/

.skip-nav {
	position: absolute;
	padding: 0;
	list-style: none;
	z-index:9999;
	a {
		position: absolute;
		left: -7000px;
		padding: 0.625rem 3rem;
		background: $gray-800;
		color: white;
		text-decoration: none;
		&:focus{
			left: 0;
			top: 0;
		}	
	}
}

/*=====  End of Skip links  ======*/


/*==========================================
=            Cookies validation            =
==========================================*/

.js-alert-cookie {
	transition:none;
	overflow: hidden;
	text-align: center;
	background-color: $body-color;
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	animation: cookie-anim 1s ease-in forwards;
	padding: 0.625rem;
	margin: 0;
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translate(0,100%);
    z-index: 9999;
	
	&.is-hidden{
		animation: none;
		transition: all 0.5s ease-out;
		transform: translate(0,100%);
	}
}
@keyframes cookie-anim {
	0% { transform: translate(0,100%); }
	100% { transform: translate(0,0); }
}
.alert-cookie--link, .alert-cookie--link:visited {
	display: inline-block;
	color: #fff;
	&:hover, &:focus{
		color: #fff;
	}
}
.alert-cookie--btn {
	/* Retrouver les class .btn et .btn-default directement dans le fichier /zephyr/cookie.js */
}

/*=====  End of Cookies validation  ======*/