/**
 *
 * Gestion des navigations
 *
 */

/*==========================
=            Navigation principale            =
==========================*/

.navbar {
	padding-left: 0;
	padding-right: 0;
	@extend .font-smoothing;

	@include media-breakpoint-up(sm) {
		padding-top: 0;
		padding-bottom: 2.5rem;
	}
}

.navbar-collapse {
	position: fixed;
	z-index: 3;
	top: 0;
	bottom: 0;
	right: 0;
	width: 280px;
	background-color: $color1;
	
	transition: transform 300ms ease-out;

	@include media-breakpoint-down(sm) {
		// C'est le mal, mais c'est la seule solution pour débloquer le menu tools
		transform: translateX(280px);

		&.show {
			transform: translateX(0);
		}
	}

	& > div {
		overflow-y: auto;
		height: 100%;
		position: relative;
		padding: 1.875rem 0.938rem;
	}

	@include media-breakpoint-up(md) {
		position: static;
		background-color: transparent;
		width: auto;
		
		& > div {
			position: static;
			height: auto;
			padding: 0;
			margin-left: auto;
			overflow: inherit;
		}
	}
}

.navbar-collapse, .navbar-collapse:not(.show) {
	display: block;
}

.navbar-nav {
	@include media-breakpoint-up(md) {
		align-items: center;
	}
}

/* Navlink */

.header-nav-item {
	text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
	color: $white;
	font-size: 1.2rem;
	text-align: center;
	@include media-breakpoint-up(md) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}


/* Style btn */
.menu-btn {
	padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .menu-btn .nav-link {
	@extend .btn;
	@extend .btn-outline-light;
	font-size: 1.2rem;
	text-transform: uppercase;
}

/* Button open/close */
button.navbar-close {
	background-color: $white;
}
.navbar-close {
	position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
	color: $color1;
	opacity: 1;

	.show & {
		left: -2.5rem;
	}

	&:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
		opacity: 1;
	}

	@include media-breakpoint-up(md) {
		display: none;	
	}
}

/*=====  FIN Navigation principale  =====*/

/*==================================
=            Legacy nav            =
==================================*/

.legacy {
	text-align: center;
}
.legacy-title {
	display: inline-block;
	margin: 0;
}
.legacy-nav-list {
	margin: 0;
	display: inline-block;
}
.legacy-nav-item {
	display: inline-block;
	&:before {
		content: "|";
		padding: 0 0.313rem;
	}
}
.legacy-nav-link {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

/*=====  End of Legacy nav  ======*/


/*===============================
=            Overlay            =
===============================*/

.fn-nav-overlay {
	visibility: hidden;
	position: fixed;
    top: -0.063rem;
    left: 0;
    right: 0;
    height: 0;
    background-color: rgba($black, 0.5);
    z-index: 2;
    opacity: 0;
	transition: opacity 200ms linear 300ms;
	cursor: pointer;

    .is-overlay-open & {
		visibility: visible;
		opacity: 1;
		top: 0;
		height: 120vh;
    }
}

.is-overlay-open {
	overflow: hidden;
}

/*=====  End of Overlay  ======*/


