/**
 *
 * Quizzzzzz
 *
 */

/*==========================
=            Structure & général            =
==========================*/

.page-template-page_technical_quiz {
	width: 100%;
	background-color: $color1;
	display: flex;
	align-items: center;
	justify-content: center;

	// @include media-breakpoint-up(md) {

	// 	.site-content {
	// 		height: 100vh;
	// 		display: flex;
	// 		align-items: center;
	// 	}
	// }

	& > .site {
		width: 100%;
	}
}

#cidff-quiz {
	margin: 0 0 50px 0;

	@include media-breakpoint-up(md) {
		width: 100%;
		flex: 1;
		margin: 0;
		padding: 50px 0;
	}
}

.container-quizz {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 640px;
}

.is-answer .responses-content {
	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 30px;
		max-width: 1140px;

		.responses {
			width: 33.3333%;
			margin-right: 15px;
			order: -1;

			li:first-child {
				margin-top: 0;
			}
		}

		.answer {
			width: 66.6666%;
			margin-left: 15px;
		}
	}
}

/*----------  Modal  ----------*/

.page-template-page_technical_quiz > .modal-backdrop {
	display: none;
}

#out-modal.show {
	display: flex!important;
    align-items: center;
	justify-content: center;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0.5;
	}
}

.modal-dialog {
	width: 100%;
}

/*=====  FIN Structure & général  =====*/

/*==========================
=            Fonctionnalités            =
==========================*/

/*----------  Logo  ----------*/

.quizz-logo {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
		text-align: center;
		margin-bottom: 50px;

		img {
			width: 300px;
		}
	}

	.is-finish & {
		display: none;
	}
}

/*----------  Back button & modal  ----------*/

.quizz-out {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;

	// @include media-breakpoint-up(md) {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }
}

.quizz-out-icon {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: $white;
	border-radius: 50%;
	padding: 15px 17px 10px 20px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: 20px;
	border: 1px solid $color1;
}

.quizz-out-text {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
		position: absolute;
		top: 10px;
		left: 30px;
		background-color: $white;
		color: $color1;
		border-radius: 0 15px 15px 0;
		width: 150px;
		padding: 2px 10px 2px 30px;
		box-shadow: 0 3px 6px rgba($black,0.15);
	}
}

/*----------  Text & title  ----------*/

.quizz-title {
	background-color: $white;
	padding: 5px 10px;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 15px;
	color: darken($color1,5%);
	@extend .font-smoothing;

	@include media-breakpoint-up(sm) {
		font-size: 1.6rem;
	}
}

/*----------  Footer & counter  ----------*/

.quiz-presets-button:before {
	content: "";
	position: absolute;
	top: 19px; left: 6px;
	width: 22px; height: 20px;
	border-radius: 3px;
	/*fill: black;
	color: black;*/
	background-image: url('images/icons/plane-black.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
}
.quiz-presets-button:hover:before {
	background-color: rgba(174,49,126,.55) ;
	cursor: pointer;
}

.footer-quizz {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.footer-quizz-info {
	background-color: #fff;
	font-size: 80%;
	flex: 1;
	padding: 5px 15px;

	p {
		margin-bottom: 0;
		text-align: right;
	}
}

.footer-quizz-counter, .steps-counter {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	height: 45px;
	background-color: $white;
	border-radius: 15px 0 0 0;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
	border-top: 2px solid $black;
	border-left: 2px solid $black;
}

/*----------  Counter  ----------*/

.quiz-steps {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	div {
		display: flex;
		align-items: flex-end;
	}
}

.quiz-steps .steps-percent {
	display: flex;
	background-color: rgba($black,0.25);
	flex: 1;
	height: 10px;
	align-items: stretch;
}
.quiz-steps .step {
	flex: 1;
	height: 10px;
}
.quiz-steps .step.past {
	background-color: $green;
}

/*----------  Title Question  ----------*/

.question {
	.theme {
		background-color: #fff;
		padding: 5px 20px;
		border-radius: 15px;
		margin-bottom: 0;
		display: inline-block;
		color: $color1;
		position: relative;
		z-index: 1;
		border: 2px solid $color1;
		text-transform: uppercase;
		font-weight: 700;
	}

	.quizz-title {
		font-size: 1rem;
		color: $black;
		margin-left: 25px;
		margin-top: -10px;
		padding: 24px 15px 15px;
		margin-bottom: 0;

		strong {
			font-weight: 800;
		}
	}
}

/*----------  QCM  ----------*/

.responses {
	max-width: 450px;
	margin-left: auto;
}

.responses ul {
	@extend .list-unstyled;

	&.in-question {
		li {
			cursor: pointer;
		}
	}

	li {
		position: relative;
		border: 4px solid darken($color1,5%);
		background-color: $white;
		margin-top: 20px;
		padding: 8px 15px 8px 30px;
		border-radius: 15px;
		margin-left: 50px;

		&.active, &.good, &.bad {
			border-color: $green;
			&:before {
				content: "";
				position: absolute;
				top: -4px;
				left: -32px;
				width: 50px;
				height: calc( 100% + 8px );
				border-radius: 15px;
				border: 4px solid $green;
				background-color: $green;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: -18px;
				transform: translateY(-50%);
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMi44IDE4LjQ5Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi43OCAxMy41NkwyLjQ2IDkuMjQgMCAxMS43MWw0LjMxIDQuMzEgMi40NyAyLjQ3IDIuNDYtMi40N0wyMi44IDIuNDYgMjAuMzQgMCA2Ljc4IDEzLjU2eiIvPjwvc3ZnPg==);
				background-repeat: no-repeat;
				background-position: 50%;
				background-size: 100%;
				width: 25px;
				height: 22px;
			}
		}

		&.bad {
			border-color: $red;
			&:before {
				border: 4px solid $red;
				background-color: $red;
			}
			&:after {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj4KICA8cG9seWdvbiBwb2ludHM9IjMwIDIuNzMgMjcuMjcgMCAxNSAxMi4yNyAyLjczIDAgMCAyLjczIDEyLjI3IDE1IDAgMjcuMjcgMi43MyAzMCAxNSAxNy43MyAyNy4yNyAzMCAzMCAyNy4yNyAxNy43MyAxNSAzMCAyLjczIiBmaWxsPSIjZmZmIi8+Cjwvc3ZnPgo=);
			}
		}
	}
}

/*----------  Helper  ----------*/

.help {
	padding: 2px 15px;
	color: $white;
	font-size: 80%;
	margin-left: auto;
	text-align: right;
	margin: 0;
}

.answer {
	background-color: $white;
	border: 8px solid darken($color1,5%);
	padding: 10px 15px;
	margin-top: 30px;
	border-radius: 15px;

	@include media-breakpoint-up(lg) {
		margin-top: 0;
	}
}

/*----------  Finish  ----------*/

.finish {
	display: block;
	background-color: #fff;
	border-radius: 15px;
	border: 8px solid #861658;
	text-align: center;
	padding: 0 15px 20px 15px;
	margin-top: 50px;
}

.finish-logo {
	text-align: center;
	position: relative;
	top: -25px;
	display: inline-block;
	max-width: 90%;
}

.good-responses-count {
	font-size: 120%;
	font-weight: bold;
}

.questions-count {
	font-size: 110%;
	font-weight: bold;
}

.text-end {
	.btn {
		margin-top: 20px;
	}
}

/*=====  FIN Fonctionnalités  =====*/


/*==========================
=            Form            =
==========================*/

/*----------  Submit button  ----------*/
.btn-start:disabled {
	background-color: $gray-500;
	color: $black;	
	border: 0;
	cursor: not-allowed;
	opacity: 0.4;
}

.navigation {
	margin-top: 30px;
	div {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	button {
		margin-left: 15px;
		margin-right: 15px;
	}
}

/*----------  Questions number  ----------*/

.settings-number {
	color: $white;
	margin-bottom: 30px;
	text-align: center;
	input {
		margin-left: 15px;
	}
}

#settings {

	ul {
		margin-bottom: 30px;
	}

	li {
		margin-top: 15px;

		&:first-child {
			margin-top: 0;
		}
	}
}

label {
	cursor: pointer;
}

/*----------  Checkbox & Radio Like Button  ----------*/

.like-button {
	padding: 0 15px;
}

.like-button input[type=checkbox], 
.like-button input[type=radio] {
    display: none;
}

.like-button label, 
.like-button label {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-block;
	@extend .font-smoothing;
	margin-bottom: 0;
	background-color: transparent;
	border: 2px solid $white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 15px;

	&:hover, &:focus, &:active {
		background-color: rgba($black,0.25);
		border: 2px solid $white;
		outline: 0;
		box-shadow: 0;
	}
}
.like-button input:checked+label {
	background-color: rgba($black,0.25);
	border: 2px solid $white;
}

.like-button input:checked+label:before {
	content: "";
    left: .938rem;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMi44IDE4LjQ5Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNi43OCAxMy41NkwyLjQ2IDkuMjQgMCAxMS43MWw0LjMxIDQuMzEgMi40NyAyLjQ3IDIuNDYtMi40N0wyMi44IDIuNDYgMjAuMzQgMCA2Ljc4IDEzLjU2eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .938rem;
    vertical-align: middle;
}

.categories {

	label {
		border: 1px solid $white;
		background: -moz-linear-gradient(top,  rgba(174,49,126,0.55) 0%, rgba(141,0,109,0.55) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(174,49,126,0.55) 0%,rgba(141,0,109,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(174,49,126,0.55) 0%,rgba(141,0,109,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		&:hover, &:focus {
			border: 1px solid $white;
		}
	}

	@include media-breakpoint-up(sm) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: auto;
		margin-right: auto;
		max-width: 540px;

		#settings & li, li:first-child {
			margin-top: 15px;
			padding-left: 15px;
			padding-right: 15px;
			width: 50%;
		}
	}
}

/*----------  Number  ----------*/

.settings-number {
	strong {
		margin-top: 5px;
		margin-bottom: 5px;
		display: inline-block;
		@extend .font-smoothing;
	}
}

#settings .number {
	display: inline-block;
	margin-bottom: 0;

	li {
		display: inline-block;
		margin-top: 0;
		margin-left: 5px;
		margin-right: 5px;
	}

	label {
		width: auto;
		display: inline-block;
		font-weight: 300;
		border: 1px solid $white;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		font-size: 1.5rem;
	}
}

.number input:checked+label {
	background-color: $white;
	color: $color1;
	&:before {
		display: none;
	}
}

/*----------  Difficulty  ----------*/

.levels {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;

	#settings & li, #settings & li:first-child {
		margin-top: 15px;
	}

	li {
		flex: 1;
		margin-left: 5px;
		margin-right: 5px;
	}

	label {
		border: 4px solid $success;
		background-color: $success;
		font-size: 80%;
		text-transform: none;

		&:hover, &:focus, &:active {
			background-color: $success;
			border: 4px solid darken($success,10%);
			outline: 0;
			box-shadow: 0;
		}
	}
	input:checked+label {
		background-color: $success;
		border: 4px solid darken($success,10%);
	}

	input:checked+label:before {
		left: auto;
		margin-right: auto;
		margin-left: auto;
	}

	label[for="settings-level-2"] {
		border: 4px solid $warning;
		background-color: $warning;
		&:hover, &:focus, &:active {
			background-color: $warning;
			border: 4px solid darken($warning,10%);
		}
	}
	input:checked+label[for="settings-level-2"] {
		background-color: $warning;
		border: 4px solid darken($warning,10%);
	}

	label[for="settings-level-3"] {
		border: 4px solid $danger;
		background-color: $danger;
		&:hover, &:focus, &:active {
			background-color: $danger;
			border: 4px solid darken($danger,10%);
		}
	}
	input:checked+label[for="settings-level-3"] {
		background-color: $danger;
		border: 4px solid darken($danger,10%);
	}
}

/*=====  FIN Form  =====*/