/**
 *
 * Structure générale du site
 *
 */

/*=================================
=            Variables            =
=================================*/

/*----------  Header  ----------*/
$header-bg				: $gray-300;
$header-full-bg			: $gray-300;

/*=====  End of Variables  ======*/

/*==============================
=            Header            =
==============================*/

.header {
	background-color: $color1;
	background: -moz-linear-gradient(left,  #703663 0%, #973381 49%, #b5317d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #703663 0%,#973381 49%,#b5317d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #703663 0%,#973381 49%,#b5317d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	.home & {
		z-index: 3;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: none;
		background-color: transparent;
	}
}

.header-container {
	padding-left: 0;

	@include media-breakpoint-up(sm) {
		padding-left: 15px;
	}
}

.navbar-brand {
	position: relative;
	padding: 10px 5px;
    left: -10px;
    top: -10px;

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: calc( 100% + 15px );
		background-color: #fff;
		transform: rotate(-6deg);
		border-radius: 12px;
		box-shadow: 0 0 15px rgba($black,0.3);
	}
	img {
		max-width: 200px;
		position: relative;
	}
	@include media-breakpoint-up(sm) {
		left: 0;
		top: 0;
		
		&:before {
			top: -25px;
			height: calc(100% + 30px)
		}
		img {
			max-width: 280px;
		}
	}
}

/*=====  End of Header  ======*/

/*============================
=            Main            =
============================*/

.main {
	margin-bottom: 5rem;
}

.main-inner {
    padding-top: 3rem;
}

/*=====  End of Main  ======*/


/*==============================
=            Footer            =
==============================*/

.footer-legacy {
	background-color: $color1;
	padding: 0.313rem 0;
	&, & *, & a:hover, & a:focus {
		color: $white;
	}
}

/*=====  End of Footer  ======*/
