*
*
* Print reset
*
**/

* {
	background: transparent !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

body {
	width: auto;
	margin: auto;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: auto;
	background-color: transparent;
	color:#000;
}

p,
h1, .h1-like,
h2,	.h2-like,
h3, .h3-like,
h4, .h4-like,
h5,	.h5-like,
h6,	.h6-like,
blockquote,
ul,
ol,
address {
	color: #000;
	margin: auto;
}

/* no orphans, no widows */
p,
blockquote {
	orphans: 3;
	widows: 3;
}

/* no breaks after these elements */
h1, .h1-like,
h2, .h2-like,
h3,	.h3-like,
caption {
	page-break-after: avoid;
}

a {
	color: #000;
	text-decoration: none;
}

a[href^="javascript:"]::after,
a[href^="#"]::after {
	content: "";
}

/*----------  helpers  ----------*/

.print {
	display: block;
}

.no-print, iframe, hr {
	display: none;
}

.list-unstyled {
	padding: 0;
	list-style: none;
}

/*----------  Communs  ----------*/

h1 {
	font-size: 20pt;
	border:0.5pt solid #000;
	margin:1cm 0;
	padding: 0.2cm;
	text-align: center;
	text-transform: uppercase;
}
h2, .h2-like {
	font-size: 16pt;
	margin-top:0.5cm;
}
h3, .h3-like {
	font-size: 14pt;
	font-weight: bold;
	margin-top:0.5cm;
}
.main-header-actions {
	margin-bottom: 1cm;
}

p, h3, ul, ol, li {
	margin-top:0.2cm;
}

blockquote {
	font-style: italic;
    font-weight: bold;
    border:0.5pt solid #000;
	margin:1cm 0;
	padding: 0.2cm;
	text-align: center;
}

.wysiwyg-highlight {
    border:0.5pt solid #000;
	margin:1cm 0;
	padding: 0.2cm;
}

.js-alert-cookie {
	display: none!important;
}

/*----------  Entête  ----------*/

.header {
	text-align: center;
}

.logo svg, .logo img {
	display: inline-block;
}

.search-form,
.nav-button,
.nav,
.switch-lang,
.social-nav,
.secondary-nav,
.primary-nav {
	display: none!important;
}

/*----------  Main  ----------*/

.main {
	padding: 0!important;
}

/*----------  Footer  ----------*/

.footer {
	display: none!important;
}

/*----------  Modules  ----------*/

.share,
.back-to-top,
#breadcrumbs,
.pager, 
.pagination,
.search-pager {
	display: none!important;
}

/*----------  News  ----------*/
.resume {
	margin-bottom: 1cm;
}

/*----------  Projet  ----------*/

/* Ici le script du projet 